name: CI/CD - Deploy FastAPI to SAP BTP

on:
  push:
    branches:
      - main

jobs:

  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install CF CLI
        uses: cloudfoundry/cf-cli-action@v2

      - name: Login to Cloud Foundry
        run: |
          cf login \
            -a ${{ secrets.CF_API }} \
            -u ${{ secrets.CF_CLIENT_ID }} \
            -p ${{ secrets.CF_CLIENT_SECRET }} \
            --client-credentials \
            -o ${{ secrets.CF_ORG }} \
            -s ${{ secrets.CF_SPACE }}

      - name: Deploy App
        run: cf push
