name: CI/CD - Deploy FastAPI to SAP BTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install CF CLI
        run: |
          curl -L "https://packages.cloudfoundry.org/stable?release=linux64-binary&version=v8" -o cf.tgz
          tar -xzf cf.tgz
          sudo mv cf8 /usr/local/bin/cf
          cf version

      - name: Login to Cloud Foundry
        run: |
          cf api ${{ secrets.CF_API }} --skip-ssl-validation
          cf auth ${{ secrets.CF_CLIENT_ID }} ${{ secrets.CF_CLIENT_SECRET }} --client-credentials
          cf target -o ${{ secrets.CF_ORG }} -s ${{ secrets.CF_SPACE }}

      - name: Deploy App
        run: cf push
